.container {
  max-width: 36rem;
  padding: 2rem;
  margin: 3rem auto 6rem;
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #333;
  color: #fff;
}

.backToHome {
  margin: 3rem 0 0;
  color: #0070f3;
  text-decoration: none;
  transition: color 0.3s ease;
}

.backToHome:hover {
  color: #0056b3;
}